.subscribe-button {
    background-color: rgb(190, 0, 0);
    margin-right: 8px;
    cursor: pointer;
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px
}

.join-button {
    height: 36px;
    width: 62px;
    margin-right: 8px;
    background-color: white;
    border-color: rgb(41, 118, 1211);
    border-style: solid;
    border-radius: 2px;
    cursor: pointer;
    color: rgb(41, 118, 1211);
    border-width: 1px
}

.tweet-button {
    height: 36px;
    width: 70px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    background-color: rgb(29, 161, 242);
    border-radius: 18px;
    color: white;
}